/* CAROUSEL CONTAINER */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

/* CAROUSEL */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* IMAGE CAROUSEL */
.image-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
}

.image-carousel.active {
  opacity: 1;
  position: relative;
  z-index: 10;
}
