/* CAROUSEL CONTAINER */
.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 2;
  overflow: hidden;
}

/* CAROUSEL */
.carousel {
  display: flex;
}

/* IMAGE CAROUSEL */
.image-carousel {
  flex: 0 0 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-carousel.active {
  opacity: 1;
  visibility: visible;
}
